.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:rgb(51, 92, 51);
}


#hd3{
	display: inline-block;
	color: red;
	background-color: rgb(152, 189, 204);
	font-family: fantasy;
}

